@charset "utf-8";

// Set your brand colors
$blue: #456990;
$green: #49BEAA;
//$orange: #ffdd57;
$orange: #ffa64d;
$pink: #EF767A;
$brown: #212121;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
// Update Bulma's global variables
$family-sans-serif: "Montserrat";
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $beige-light;
$link: $beige-lighter;
$link-hover: $green;
$text: $beige-lighter;

body {
  overflow-x: hidden;
}
// Update some of Bulma's component variables
$body-background-color: $grey-dark;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

//modal
$modal-card-body-background-color: $brown;
$modal-card-title-color: $beige-lighter;
$modal-card-head-background-color: $green;

// Import only what you need from Bulma
//@import "./scss/debug.scss";
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/components/modal.sass";
@import "../node_modules/bulma/sass/elements/other.sass";

@import "./scss/hero.scss";
@import "./scss/how.scss";
@import "./scss/helpers.scss";
@import "./scss/blockquote.scss";
@import "./scss/footer.scss";
@import "./scss/nav.scss";
@import "./scss/mouse.scss";
@import "./scss/call2action.scss";
@import "./scss/footer-bottom.scss";
@import "./scss/partners.scss";