.hero {
  background: url(./assets/bg.jpg);
  background-size: cover;
  .highlight {
    color: $orange;
  }
  
  .logo {
    margin: 0.5em;
    font-size: 0.8em;

    @include from($desktop) {
      font-size: 1em;
    }
    img {
      vertical-align: middle;
      max-height: 3em;
    }

    .logo-title {
      vertical-align: middle;
      text-shadow: 0 20px 50px $black;
      font-weight: bold;
      font-size: 2em;
      color: $beige-lighter;
    }
  }

  .hero-video {
    min-width: $desktop;
  }

  .cnt-readmore {
    margin: 1em;
    //text-shadow: 0px 0px 3px $beige-lighter;
    padding-bottom: 2rem; 
    a: {
      color: $beige-lighter;
    }
  }

  .hero-body {

    padding-bottom: 0em;
    @include from($desktop) {
      padding: 0 30% 0 30%;
    }

    .title {
      color: $beige-lighter;
      text-shadow: 0px 0px 9px $black;
      font-weight: 500;
      padding-bottom: 0.7em;
      font-size: 2.5em;
      @include from($desktop) {
        font-size: 4em;
        text-align: center;
      }
    }

    
    .toptitle {
      color: $beige-lighter;
      text-shadow: 0px 0px 9px $black;
      font-size: 1em;
      @include from($desktop) {
        font-size: 1.2em;
        text-align: center;
      }
    }


    .subtitle {
      color: $beige-lighter;
      text-shadow: 0px 0px 9px $black;
      font-weight: 300;
      font-size: 1em;
      @include from($desktop) {
        font-size: 1.4em;
        text-align: center;
      }
    }

    .comment{
      font-weight: 300;
      font-size: 0.8em;
      text-align: center;
      @include from($desktop) {
        font-size: 0.7em;
        
      }
    }


    .button {
      text-shadow: 0px 0px 9px $black;
      margin: 0.3em;
      
    }



    .btn-early {
      
      &:hover {
        background-color: $orange;
        color: $black;
      }
    }
  }

  .hero-video {
    overflow-y: hidden;
    opacity: 0.1;
  }
}

@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
     }
     100% {
          box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
     }
}
.pulse {
  animation: shadow-pulse 1s infinite;
}