.how {
  font-size:1.2em;
  
  @include from($desktop) {
    padding: 0 1% 0 1%;
  }

  .column {
    margin: 1em;
  }

  .title {
    font-size: 1.5em;
    font-weight: 500;
    color: $beige-lighter;

    @include from($desktop) {
      font-size: 2.2em;
    }
  }

  .feature-text {
    @include from($desktop) {
      margin-right: 4em;
      margin-left: 4em;
    }
    font-size: 0.9em;
    margin-right: 2em;
    margin-left: 2em;
    a {
      color: $orange;
    }
    a:hover {
      color: $green;
    }
  }

  .modal.is-active {
    display: flex !important; 
  }

  @media screen and (max-width: $desktop) {
    .mobile-reverse-order {
      flex-direction: column-reverse;
      display: flex;
    }

    .modal {
      .modal-content {
        padding: 20px;
      }
    }
  }

}