.team {
  background-color: #313131;
  padding-top: 3em; 
  padding-bottom: 3em;
  
  .title {
    color: $beige-lighter;
  }

  .info {
    font-size: 0.9em;
    padding-left: 1em;
    padding-right: 1em;
  }
}